header 
{
    background-color: rgb(255, 255, 255);
    margin: 0%;
    padding: 0%;
    position: fixed;
    top: 0;
    height: 12%;
    width: 100%;
    z-index: 9998;
}
body
{
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-color: #45656b;
}
html
{
    height:100%;
}
article
{
    position: relative;
   
    margin:1% 0 0 4%;
}
.home
{
    position: fixed;
    text-align: center;
    line-height: 100%;
    margin: auto;
    font: 10%;
    top: 1.5%;
    left: 4%;
    height: 10vh;
    width: 18vw;
    justify-items: center;
}
.home *
{
    border: #45656b solid 1px;
    border-radius: 20px;
    float: left;
    text-align: center;
    line-height: 100%;
    margin: auto;
    font: 10%;
    top: 1.5%;
    left: 4%;
    height: 5vh;
    width: 8vw;
}

.center *
{
    position: fixed;
    top: 0%;
    text-align: center;
    
    left: 40%;
    
    width:19vw;
    height: 10vh;
}
.cart *
{
    position: fixed;
    top: 2%;
    right: 18vw;
    height: 9%;
}
.member *
{
    position: fixed;
    top: 2%;
    left: 18vw;
    height: 9%;
}
.png *
{
    position: fixed;
    top: 1.5%;
    right: 4vw;
    height: 4.6vw;
}
.pnge *
{
    position: fixed;
    top: 1.5%;
    right: 10vw;
    height: 4.6vw;
}

.u1
{
    position: relative;
    font-size: 20px;
    color: white;
    font-family:微軟正黑體;
    text-align:center;
}

/* 40px */
.theToTop-arrowA {
	width: 4rem;
	height: 4rem;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 33%;
	
	background: white;
	cursor: pointer;
	position:fixed;
	right: 0.6rem;
	bottom: 1rem;
	display: none;
}
.theToTop-arrowA::before, .theToTop-arrowA::after {
	width: 22px;
	height: 5px;
	border-radius: 3px;
	background: #f90;
	position: absolute;
	content: "";
}
.theToTop-arrowA::before {
	transform: rotate(-45deg) translate(0, -50%);
	left: 1rem;
}
.theToTop-arrowA::after {
	transform: rotate(45deg) translate(0, -50%);
	right: 1rem;
}
.theToTop-arrowA:focus {outline: none;}

a:link{
    color: white;
}
a:visited{
    color: white;
}
a:hover
{
    color: orange;
}
a {
    text-decoration:none;
}

.dialog{
    width: 80%;
    height: 80%;
    position: fixed;
    left: 10%;
    top: 10%;
   background-color: aliceblue;
    z-index: 10000;
    text-align: center;
}
