header 
{
    background-color: rgb(255, 255, 255);
    margin: 0%;
    padding: 0%;
    position: fixed;
    top: 0;
    height: 12%;
    width: 100%;
    z-index: 1000;
}
body
{
    
    height: 150%;
    margin: 0%;
    padding: 0%;
    background-color: #45656b;
}
html
{
    height: 150%;
}
article
{
    height: 122%;
}
#background{
    background-image: url("media/法式焦糖烤布蕾.jpg");
    background-repeat: no-repeat;
    background-position: 10% 20%;
    background-size: cover;
    height: 100%;
    width: 100%;
    filter: blur(2px) brightness(50%);
}

.home
{
    position: fixed;
    top: 1.5%;
    left: 4%;
}
.center
{
    position: absolute;
    top: 0%;
    right: 43%;
}
.png
{
    position: fixed;
    top: 2%;
    right: 4%;
}
.pnge
{
    position: fixed;
    top: 2%;
    right: 8%;
}

.u1
{
    font-size: 20px;
    color: white;
    font-family:微軟正黑體;
    text-align:center;
}

/* 40px */
.toTop-arrow {
	width: 4rem;
	height: 4rem;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 33%;
	
	background: white;
	cursor: pointer;
	position:fixed;
	right: 0.6rem;
	bottom: 1rem;
	display: none;
}
.toTop-arrow::before, .toTop-arrow::after {
	width: 22px;
	height: 5px;
	border-radius: 3px;
	background: #f90;
	position: absolute;
	content: "";
}
.toTop-arrow::before {
	transform: rotate(-45deg) translate(0, -50%);
	left: 1rem;
}
.toTop-arrow::after {
	transform: rotate(45deg) translate(0, -50%);
	right: 1rem;
}
.toTop-arrow:focus {outline: none;}
.all
{
    background-size: cover;
    position: absolute;
    top: 17%;
    left: 11%;
    width: 1500px;
    height: 2200px;
    background-color: white;
    border-radius: 20px;
}
.m1
{
    position: absolute;
    top: 4%;
    left: 29%;
}
.m2
{
    border-radius: 20px;
}
.m3
{
    width: 1300px;
    position: absolute;
    top: 30%;
    left: 6.8%;
    font-size: 25px;
    color: black;
    font-family:微軟正黑體;
}
.m4
{
    font-size: 30px;
    font-weight: bold;
}
.m5
{
    font-weight: bold;
}
.dialog{
    width: 80%;
    height: 80%;
    position: fixed;
    left: 10%;
    top: 10%;
   background-color: aliceblue;
    z-index: 10000;
    text-align: center;
}